{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css">
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<link href="{% static 'mitford/css/bootstrap-treeview.css' %}" type="text/css" rel="stylesheet">
		<link href="{% static 'mitford/css/mitford.css' %}" type="text/css" rel="stylesheet">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script type="text/javascript" src="{% static 'mitford/js/FileSaver.js' %}"></script>
		<script type="text/javascript" src="{% static 'mitford/js/bootstrap-filestyle.min.js' %}"> </script>
		
		
		
		
		<script src="{% static 'mitford/js/bootstrap-treeview.js' %}"></script>	
	
		<script type="text/javascript">	
			function loadXMLDoc(filename)
			{
				if (window.XMLHttpRequest)
  				{
  					xhttp=new XMLHttpRequest();
  				}
				else // code for IE5 and IE6
  				{
  					xhttp=new ActiveXObject("Microsoft.XMLHTTP");
  				}
				xhttp.open("GET",filename,false);
				xhttp.send();
				return xhttp.responseXML;
			}
			function loadXMLString(txt)
			{
				txt = txt.replace(/>\s*/g, '>'); 
				txt = txt.replace(/\s*</g, '<');
				//remove namespaces
				txt = txt.replace(/<(\/?)([^:>\s]*:)?([^>]+)>/g, "<$1$3>");
			
				if (window.DOMParser)
  				{
  					parser=new DOMParser();
  					xmlDoc=parser.parseFromString(txt,"text/xml");
  				}
				else // code for IE
  				{
  					xmlDoc=new ActiveXObject("Microsoft.XMLDOM");
  					xmlDoc.async=false;
  					xmlDoc.loadXML(txt);
  				}
  				
  				
  				return xmlDoc;
			}
		</script> 
		
	</head>
	<body>
	
	<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container">
    		<p class="navbar-text">MITFORD: XML tag to DB schema</p>
    		<!--<ul class="nav navbar-nav navbar-right">-->
        		<!--<li><a href="/accounts/logout">Logout</a></li>-->
        	<!--</ul>	-->
  		</div>
	</nav>
	<div id="Top" class="Top">
		<div class="LeftTop">
			<input id="referenceInput" type="file" class="filestyle" data-size="sm" data-input="false" data-badge="false" data-buttonText="Select XML file">

			<div id="output">
			</div>
		</div>
		<div class="RightTop">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<button type="button" id="mappingOutput" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-thumbs-up"></span>Generate mapping file</button>
					<input id="mappingLoad" type="file" class="filestyle" data-size="sm" data-input="false" data-buttonText="Load existing mapping" data-badge="false">
					<button type="button" id="copySchemaButtonCA" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-transfer"></span>Copy CFT to CA</button>
				</div>
			</div>
			<p>Mapping version: <label id="labelMappingVersion"></label></p> 			
		</div>
	</div>

	<div class="ModelContainer">
		<div class="Left"><div id="tree"></div>
		</div>
		<div class="Right">
			<div id="tabs">
				<ul>
					<li><a href="#cftSchema">Call For Tenders</a></li>
					<li><a href="#caSchema">Contract Award</a></li>
					<li><a href="#corriagendaSchema">Corriagenda</a></li>
					<!--<li><a href="#contractTypeSelection">Type selection</a></li>-->
				</ul>
				<div id="cftSchema">
				</div>
				<div id="caSchema">
				</div>
				<div id="corriagendaSchema">
				</div>
				<!--<div id="contractTypeSelection" class="ui-widget">-->
					<!--<p>Select the kind of contract that corresponds with the entry: <label id="contract_label"></label></p>-->
					<!--<select name="type" id="select_contract_type">-->
    					<!--<option value="" selected="selected">Non selected</option>-->
    					<!--<option value="cft">Call for tenders</option>-->
      					<!--<option value="ca">Contract award</option>-->
      					<!--<option value="corriagenda">Corriagenda</option>-->
    				<!--</select>-->
					<!--<table id="contractTypeTable" class="ui-widget ui-widget-content">-->
						<!--<thead>-->
							<!--<tr class="ui-widget-header">-->
								<!--<th>Type</th>-->
								<!--<th>Field</th>-->
								<!--<th>Value</th>-->
							<!--</tr>-->
						<!--</thead>-->
						<!--<tbody>-->
							<!--<tr id="cftSelectionRow">-->
								<!--<td>CFT</td>-->
								<!--<td></td>-->
								<!--<td></td>-->
							<!--</tr>-->
							<!--<tr id="caSelectionRow">-->
								<!--<td>CA</td>-->
								<!--<td></td>-->
								<!--<td></td>-->
							<!--</tr>-->
							<!--<tr id="corriagendaSelectionRow">-->
								<!--<td>Corriagenda</td>-->
								<!--<td></td>-->
								<!--<td></td>-->
							<!--</tr>-->
						<!--</tbody>-->
					<!--</table>-->
				<!--</div>-->
			</div>
		</div>

	</div>
	

	<div id="dialog-form-add" class="Popup" title="Confirm entry to add">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		Do you wish to add this entry to the existing ones?
		</p>
		<table id="current-xpaths-table">
			<thead>
				<tr class="ui-widget-header">
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
	
	<div id="dialog-form-confirm" class="Popup" title="Confirm uncheck">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		Do you wish to continue configuring this entry or unchecking it?
		</p>
	</div>
	
	<div id="dialog-form-boolean" class="Popup" title="Select boolean example">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		Select if this is a True or False sample</p>
	</div>
	
	<div id="dialog-form-enum" class="Popup" title="Select the corresponding enumerated">
		<p><span class="ui-icon ui-icon-circle check" style="float:left; margin:0 7px 20px 0;"></span></p>
		<p>Fill in the list of corresponding values for the enumeration</p>
		<table id="enumeration-table" class="ui-widget ui-widget-content">
			<thead>
				<tr class="ui-widget-header">
					<th>Enumerated</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<p>The current reference value is: <label id="enumeration-label"></label></p>
	</div>
	
	<div id="dialog-form-date" class="Popup" title="Select the corresponding date format">
    		<p>
    		The value <label id="date_label"></label> corresponds to:
    		
    		<div class="btn-group" role="group">
	    		<select name="speed" id="select_date">
	    			<optgroup label="Simple string [ddmmyy hh:mm:ss]">
	      				<option selected="selected" value="string">String format</option>
	      			</optgroup>
	      			<optgroup label="Multifield date">
	      				<option value="day">Day</option>
	      				<option value="month">Month</option>
	      				<option value="year">Year</option>
	      				<option value="time">Time</option>
	      			</optgroup>
	    		</select>
	    		</p>
	    		<button type="button" id="tabs-date-add" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span>Add tab</button>
    			
    		</div>
    		<div id="tabs-date">
    		<ul>
    		</ul>
			<!--    		
    		  <ul>
    		  	<li><a href='#tabs-date-1'>Date 1</a> <span class='ui-icon ui-icon-close' role='presentation'>Remove Tab</span></li>
  			   </ul>
    			<div id="tabs-date-1" class="tabber">
		    		<table class="ui-widget ui-widget-content">
		    			<thead>
		    				<tr class="ui-widget-header ">
		    				<th>
		    					Option
		    				</th>
		    				<th>
		    					XPath
		    				</th>
		    				</tr>
		    			</thead>
		    			<tbody>
		    				<tr>
		    					<td>String format</td>
		    					<td><label id="string_xpath_1"></label></td>
		    				</tr>
		    				<tr>
		    					<td>Day value</td>
		    					<td><label id="day_xpath_1"></label></td>
		    				</tr>
		    				<tr>
		    					<td>Month value</td>
		    					<td><label id="month_xpath_1"></label></td>
		    				</tr>
		    				<tr>
		    					<td>Year</td>
		    					<td><label id="year_xpath_1"></label></td>
		    				</tr>
		    				<tr>
		    					<td>Time</td>
		    					<td><label id="time_xpath_1"></label></td>
		    				</tr>
		    			</tbody>
		    		</table>
	    		</div>
	    		-->
    		</div>
  	</div>
	
	
	<div id="error-message" title="Error">
  		<p>
    	<span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
  		</p>
	</div>
	
	<div id="loader" class="loader" style="display:none;">
    	<p>Loading...</p>
    	<div id="progressbar"></div>
    	
	</div>
	
	<script type="text/javascript" src="{% static 'mitford/js/forms.js' %}"> </script>
	<script type="text/javascript">
		//schema view
		var dataSchema = {{ dataSchema|safe }};
		var targetNodes = [];//XML target nodes
		var contractTypeSelection = {};//contract selection info
		var schemaDisplay = null;//schema display on the left side
		var loadingMapping = false;


		
		
		function saveCurrentMapping(evt){
			var result={};
			var rootNodeCFT = $("#cftSchema").treeview('getNode',0);
			result["cft"]=[rootNodeCFT];
			
			var rootNodeCA = $("#caSchema").treeview('getNode',0);
			result["ca"]=[rootNodeCA];

			/*
			result["contractTypeTable"]={};
			result["contractTypeTable"]["cft"]={};
			var theTable = document.getElementById("contractTypeTable");
			var theRow = theTable.rows[1];
			result["contractTypeTable"]["cft"]["__xpath__"]=theRow.cells[1].innerHTML;
			result["contractTypeTable"]["cft"]["__value__"]=theRow.cells[2].innerHTML;
			theRow=theTable.rows[2];
			result["contractTypeTable"]["ca"]={};
			result["contractTypeTable"]["ca"]["__xpath__"]=theRow.cells[1].innerHTML;
			result["contractTypeTable"]["ca"]["__value__"]=theRow.cells[2].innerHTML;
			*/
			result["contractTypeSelection"]=contractTypeSelection
			result["version"]=dataSchema["version"];	
			var theString = JSON.stringify(result);
			var blob = new Blob([theString],{type: "text/plain;charset=utf-8"});
			var targetFile = "currentMapping";
			targetFile=targetFile.concat("_",result["version"],".json");
			saveAs(blob,targetFile);
		}
		
		
		
						
		function loadMapping(evt){
						
			var f = evt.target.files[0];
			var reader = new FileReader();
			pageLoader.dialog("open");
			reader.onload = function(e){
				$('#cftSchema').empty();
				$('#caSchema').empty();
				loadingMapping=true;
				
				loadedMapping = JSON.parse(reader.result);
				displaySchema("cft");
				displaySchema("ca");
				
				var cftRootNode = $("#cftSchema").treeview('getNode',0);
				fillTableUsingMapping(cftRootNode,loadedMapping['cft'],"#cftSchema");
				
				var caRootNode = $("#caSchema").treeview('getNode',0);
				fillTableUsingMapping(caRootNode,loadedMapping['ca'],"#caSchema");

				contractTypeSelection = loadedMapping["contractTypeSelection"];
				pageLoader.dialog("close");
				
				loadingMapping=false;
				
			}
			reader.readAsText(f);
			targetNodes=[];
		}
		
		function fillTableUsingMapping(mappingNode,loadedMapping,schemaName){
			//recursive function to construct the mapping structure
			
			if(mappingNode==null){
				return;
			}
			
			if(typeof(mappingNode.nodes)!="undefined"){
				if(typeof(loadedMapping[mappingNode.db])!="undefined"){
					for(var i=0;i<mappingNode.nodes.length;i++){
						fillTableUsingMapping(mappingNode.nodes[i],loadedMapping[mappingNode.db],schemaName);
					}
				}				
			}
			
			//console.log(mappingNode.db,"<-",loadedMapping[mappingNode.db]);
			
			if(typeof(loadedMapping[mappingNode.db])!="undefined"){
			
				var aux = [];
				
				for(var key in loadedMapping[mappingNode.db]){
					if(key.substring(0,2)=="__"){
						mappingNode[key]=loadedMapping[mappingNode.db][key];
						if(key=="__xpath__"){
							//aux.push("tag");
							for(var i=0;i<mappingNode["__xpath__"].length;i++){
								aux.push(mappingNode["__xpath__"][i]);
							}
						}
					}
				}
				
				/*
				if(typeof(loadedMapping[mappingNode.db]["__xpath__"])!="undefined"){
					mappingNode["__xpath__"]=loadedMapping[mappingNode.db]["__xpath__"];
					for(var i=0;i<mappingNode["__xpath__"].length;i++){
						aux.push("tag");
					}
				}
				if(typeof(loadedMapping[mappingNode.db]["__conversion__"])!="undefined"){
					mappingNode["__conversion__"]=loadedMapping[mappingNode.db]["__conversion__"];
				}
				if(typeof(loadedMapping[mappingNode.db]["__enumeration__"])!="undefined"){
					mappingNode["__enumeration__"]=loadedMapping[mappingNode.db]["__enumeration__"];
					for(var i=0;i<Object.keys(mappingNode["__enumeration__"]).length;i++){
						aux.push("tag");
					}
				}
				*/
				if(aux.length==0){
					aux.push("tag");
				}				
				mappingNode.tags=aux;
				
				$(schemaName).treeview('checkNode',mappingNode);
				//console.log(mappingNode.db,"<-",loadedMapping[mappingNode.db]);
			}
		}
		
		
		function generateMapping(evt){
			var result={};
			var cftRootNode = $("#cftSchema").treeview('getNode',0);

			var cftTreeMap=processMappingStructure(cftRootNode);
			var caRootNode = $("#caSchema").treeview('getNode',0);
			var caTreeMap=processMappingStructure(caRootNode);
			var corriagendaRootNode = $("#corriagendaSchema").treeview('getNode',0);
			var corriagendaTreeMap=processMappingStructure(corriagendaRootNode);
			
			var errorMsg = "";
			if(cftTreeMap==null){
				errorMsg="There is no info to create the call for tenders mapping.";	
			}
			if(caTreeMap==null){
				errorMsg=errorMsg+"There is no info to create the contract award mapping.";
			}
			/*
			var cftRow=document.getElementById("cftSelectionRow");
			var contractTypeSelection = {};

			if(cftRow.cells[1].innerHTML==""){
				errorMsg=errorMsg+"There is no info to select CFT type.";
			}else{
				contractTypeSelection["cft"]={};
				contractTypeSelection["cft"]["__xpath__"]=cftRow.cells[1].innerHTML;
				contractTypeSelection["cft"]["__value__"]=cftRow.cells[2].innerHTML;
			}

			var caRow=document.getElementById("caSelectionRow");
			if(caRow.cells[1].innerHTML==""){
				errorMsg=errorMsg+"There is no info to select CA type.";
			}else{
				contractTypeSelection["ca"]={};
				contractTypeSelection["ca"]["__xpath__"]=caRow.cells[1].innerHTML;
				contractTypeSelection["ca"]["__value__"]=caRow.cells[2].innerHTML;
			}

			var caRow=document.getElementById("corriagendaSelectionRow");
			if(caRow.cells[1].innerHTML==""){
				errorMsg=errorMsg+"There is no info to select corriagenda type.";
			}else{
				contractTypeSelection["corriagenda"]={};
				contractTypeSelection["corriagenda"]["__xpath__"]=caRow.cells[1].innerHTML;
				contractTypeSelection["corriagenda"]["__value__"]=caRow.cells[2].innerHTML;
			}
			*/
			
			if(errorMsg!=""){
				errorMessage.text(errorMsg);
				errorMessage.dialog("open");
			}
			
			result["version"]=dataSchema["version"];
			result["cft"]={};
			result["cft"][cftRootNode.db]=cftTreeMap;
			result["ca"]={};
			result["ca"][caRootNode.db]=caTreeMap;
			result["corriagenda"]={};
			result["corriagenda"][corriagendaRootNode.db]=corriagendaTreeMap;
			result["contractTypeSelection"]=contractTypeSelection;
						
			var theString = JSON.stringify(result,null,4);
			var blob = new Blob([theString],{type: "text/plain;charset=utf-8"});
			var targetFile = "resultingMapping";
			targetFile=targetFile.concat("_",result["version"],".json");
			saveAs(blob,targetFile);
						
		}
		
		
		function processMappingStructure(mappingNode){
			//recursive function to construct the mapping structure
			var result={};
			
			if(typeof(mappingNode.nodes)!="undefined"){
				for(var i=0;i<mappingNode.nodes.length;i++){
					var subtree = processMappingStructure(mappingNode.nodes[i]);
					if (subtree!=null){
						result[mappingNode.nodes[i].db]=subtree;
					}
				}	
			}
			
			for(var key in mappingNode){
				if(key.substring(0,2)=="__"){
					//console.log("Process key: "+key);
					//console.log(mappingNode[key]+" - "+mappingNode[key].length)
					if(typeof(mappingNode[key])!="undefined"){
					//if (mappingNode[key].length > 0){
						//skip empty entries
						//console.log("-->"+mappingNode[key])
						result[key]=mappingNode[key];
					}
				}
			}
			
			/*			
			if(typeof(mappingNode["__xpath__"])!="undefined"){
				result["__xpath__"]=mappingNode["__xpath__"];
				if(typeof(mappingNode["__conversion__"])!="undefined"){
					result["__conversion__"]=mappingNode["__conversion__"];
				}
			}else if(typeof(mappingNode["__enumeration__"])!="undefined"){
				result["__enumeration__"]=mappingNode["__enumeration__"];
			}else if(mappingNode["repetitive"]=="true" && !jQuery.isEmptyObject(result)){
				//check if there are repetitive structures without root
				errorMessage.text(mappingNode.text+" has no associated XML map");
				errorMessage.dialog("open");
			}else if(mappingNode["type"]=="DateTimeField"){
				if(typeof(mappingNode["__conversion__"])!="undefined"){
					result["__conversion__"]=mappingNode["__conversion__"];
				}
			}*/
			
			if(jQuery.isEmptyObject(result)){
				return null;
			}
			
			return result;
		}
	
			
		function viewReference(evt){
			//clear selection
			targetNodes=[];
			//remove
			while ($('#tree').firstChild) {
    			myNode.removeChild(myNode.firstChild);
			}
			$('#tree').empty();
			
			var f = evt.target.files[0];
							
			var reader = new FileReader();
			
			reader.onload = function(e){
				var xml = loadXMLString(reader.result);
				var treeStructure = [processXML(xml,"")];
				var jsonText = JSON.stringify(treeStructure);
				
									
				$('#tree').treeview({
					data: jsonText,
					showCheckbox:false,
					highlightSelected:true,
					selectable:true,
					showTags:true,
					onNodeSelected: function(event,node){
						targetNodes.push(node.nodeId);
					},
					onNodeUnselected: function(event,node){
						targetNodes.splice(0,1);
					}
				});
				
				//update cftSchema
				//updateSchemaInfo(xml);				
			}
			reader.readAsText(f);
			
		}

	
		function processXML(xmlDoc,path){
			var result = {};
			var nodes=[];			
			
			if (xmlDoc.nodeType==1 && xmlDoc.attributes.length!=0){
				for(var j=0;j<xmlDoc.attributes.length; j++){
					var attribute = xmlDoc.attributes.item(j);
					nodes.push({text:attribute.nodeName+":"+attribute.nodeValue,
								//xml data
								xml:path+"/@"+attribute.nodeName,
								//information for the user
								info:attribute.nodeValue});
				}
			}
			
				
			if(xmlDoc.hasChildNodes()){
				result["text"] = xmlDoc.nodeName;
				result["xml"] = path+"";
				result["info"] = "Structure ["+xmlDoc.nodeName+"]";
				result["structure"]=true;
				//+xmlDoc.nodeName;
				for(var i=0;i<xmlDoc.childNodes.length;i++){
					var item = xmlDoc.childNodes.item(i);
					var nodeName = item.nodeName;

					if (typeof(result[nodeName])=="undefined"){
						if(item.nodeType==3){
							result["text"]=result["text"]+" -> "+item.nodeValue;
							result["info"]=item.nodeValue;
							result["structure"]=false;
							//nodes.push({"text" : item.nodeValue,a
							//			"state":{"disabled":"true"}});
						}else{
							nodes.push(processXML(item,path+"/"+nodeName));
						}
					}
				}
			}else{
				result["text"]=xmlDoc.nodeName;
				result["xml"]=path+"";
				result["info"]=xmlDoc.nodeName;
			}
			if(nodes.length!=0){
				result["nodes"] = nodes;
			}
			
			return result;
			
		}
		
		
		
		function updateEnumTable(schemaNode){
			//Update the enum table in the form to represent the
			//remove all the rows
			$("#enumeration-table tr").remove();
			//enumeration entries
			var theTable = document.getElementById("enumeration-table");
			//get the current conversions for this element
			var currentConversions = "undefined";
			if(typeof(schemaNode["__conversion__"])!="undefined"){
				currentConversions = schemaNode["__conversion__"];
			}
			//add the rows
			if(currentConversions=="undefined"){
				//empty thing			
				for(var i=0;i<schemaNode["enum"].length;i++){
					var theRow = theTable.insertRow(0);
					//cell for enumerated
					var cell = theRow.insertCell(0);
					cell.innerHTML=schemaNode["enum"][i][1];
					//cell for the value
					var cell2 = theRow.insertCell(1);
					
					var textField = document.createElement("input");
					textField.id="input_"+i.toString();
					textField.type="text";
					textField.value="undefined "+i.toString();
					cell2.appendChild(textField);
				}
			}else{
				//fill with the current enumeration data
				var i=0;
				for(var key in currentConversions){
					var enumValue = currentConversions[key];
					var theRow = theTable.insertRow(0);
					//cell for enumerated
					var cell = theRow.insertCell(0);
					cell.innerHTML=enumValue;
					//cell for the value
					var cell2 = theRow.insertCell(1);
					var textField = document.createElement("input");
					textField.id="input_"+i.toString();
					textField.type="text";
					textField.value=key;
					cell2.appendChild(textField);
					i++;
				}
			}
			var enumeratedLabel = document.getElementById("enumeration-label");
			var xmlNode = $("#tree").treeview('getNode',targetNodes[0]);
			enumeratedLabel.innerHTML=xmlNode["info"];
		}
		
		function displaySchema(schemaName){
			//update version label
			document.getElementById("labelMappingVersion").innerHTML = dataSchema["version"]; 
							
			//display the hierarchical schema
			var schemaPointer="#"+schemaName+"Schema";
			$(schemaPointer).treeview({
					data:dataSchema[schemaName],
					multiselect:false,
					showCheckbox:true,
					highlightSelected:false,
					showTags:true,
					
					onNodeChecked: function(event,node){
						
						if(loadingMapping){
							return;
						}
						
						var nodeSchema = $(schemaPointer).treeview('getNode',node.nodeId);
						
						
						if($("#tree")[0].innerHTML.length>0){
							if(targetNodes.length==0){
								$(schemaPointer).treeview('uncheckNode',nodeSchema);
								errorMessage.text("Select an XML entry first");
								errorMessage.dialog("open");				
								return;
							}
						}else{
							$(schemaPointer).treeview('uncheckNode',nodeSchema);
							return;
						}
						
						
						//else process it
						var infoTags=[];
						var xmlNode = $('#tree').treeview('getNode',targetNodes[0]);
						//update xml node counter
						//TODO
												
							
						//Check if you have to ask the user for type conversion
						if(node["type"]=="NullBooleanField"){
							//send the dialog some data we want to convert
							//the dialog will update the conversion table							
							dialog_boolean.data("toConvert",[schemaPointer,nodeSchema,xmlNode]);
							dialog_boolean.dialog("open");
						}else if(node["type"]=="EnumerationField"){
							dialog_enum.data("toConvert",[schemaPointer,nodeSchema,xmlNode]);
							dialog_enum.dialog("open");
							infoTags.push("Check to open");
						}else if(node["type"]=="DateTimeField"){
							dialog_date.data("toConvert",[schemaPointer,nodeSchema,xmlNode]);
							dialog_date.dialog("open");
							infoTags.push("Check to open");
						}else{
							if(typeof(nodeSchema["__xpath__"])=="undefined"){
								nodeSchema["__xpath__"]=[xmlNode["xml"]];
								nodeSchema.tags=infoTags;
							}else{
								nodeSchema["__xpath__"].push(xmlNode["xml"]);
								nodeSchema.tags.push(infoTags);
							}				
							infoTags.push(xmlNode["info"]);
							$('#tree').treeview('unselectNode',xmlNode);
						}

						targetNodes=[];				
						
					},
					onNodeUnchecked: function(event,node){
						
						var nodeSchema = $(schemaPointer).treeview('getNode',node.nodeId);
						
						if(targetNodes.length==0){
							//nothing selected simply uncheck
							nodeSchema["__xpath__"]=[];
							nodeSchema.tags=[];
							return;
						}
						var xmlNode = $('#tree').treeview('getNode',targetNodes[0]);
																		
						dialog_add.data("toAdd",[schemaPointer,nodeSchema,xmlNode]);
						dialog_add.dialog("open");
						return;
						
						/*
						if(targetNodes.length==0){
							//no target simply remove
							nodeSchema.tags=[];
							delete nodeSchema["__xpath__"];
							if (typeof(nodeSchema["__conversion__"])!="undefined"){
								delete nodeSchema["__conversion__"];
							}
							return;
						}
						
						if(node["type"]=="EnumerationField"){
							dialog_confirmation.data("toConvert",[schemaPointer,nodeSchema]);
							dialog_confirmation.dialog("open");
						}else if(node["type"]=="DateTimeField"){
							dialog_confirmation.data("toConvert",[schemaPointer,nodeSchema]);
							dialog_confirmation.dialog("open");
						}else{
							nodeSchema.tags=[];
							delete nodeSchema["__xpath__"];
							if (typeof(nodeSchema["__conversion__"])!="undefined"){
								delete nodeSchema["__conversion__"];
							}
						}
						*/
						
					}
						
			});
		}
		
		
		function copySchema(event){
						
			var s = event.target.id;
    					
			if(s=="copySchemaButtonCA"){
				code = "ca";
			}
			if(s=="copySchemaButtonCorriagenda"){
				code = "corriagenda";
			}
		
			alert("Any change will be lost!");			
			dataSchema[code]=[$("#cftSchema").treeview('getNode',0)];
			displaySchema(code); 
		}
		
	
		document.getElementById("referenceInput").addEventListener('change',viewReference,false);
		document.getElementById("mappingOutput").addEventListener('click',generateMapping,false);
		//document.getElementById("mappingSave").addEventListener('click',saveCurrentMapping,false);
		document.getElementById("mappingLoad").addEventListener('change',loadMapping,false);
		document.getElementById("copySchemaButtonCA").addEventListener('click',copySchema,false);
		displaySchema('cft');//initialize the cft schema
		displaySchema('ca');//initialize the ca schema
		displaySchema('corriagenda');//initialize the ca schema
		
		

  		
		
	</script>    
	</body>
</html>
