body { padding-top: 70px; }	

.ui-dialog {
	    overflow: visible;
	}

	.Top {
    	display: flex;
/*    	height: 100vh;
    	margin-top: -100px;
    	padding-top: 100px;
*/
    	position: relative;
    	width: 100%;
	}

	.ModelContainer {
    	display: flex;
    	overflow: hidden;
    	height: 100vh;
/*    	margin-top: -100px;
    	padding-top: 100px;
*/
    	position: relative;
    	width: 100%;
    	backface-visibility: hidden;
    	will-change: overflow;

	}

	table { margin: 1em 0; border-collapse: collapse; width: 100%; }
	table td, table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }

	.Left,
	.Middle,
	.Right,
	.LeftTop,
	.RightTop{
    	overflow: auto;
    	height: auto;
    	padding: .5rem;
    	-webkit-overflow-scrolling: touch;
	    -ms-overflow-style: none;
	}

	.LeftTop,
	.RightTop,
	.Right,
	.Left{
		flex: 0.6;
	}
	.Left::-webkit-scrollbar,
	.Middle::-webkit-scrollbar,
	.Right::-webkit-scrollbar,
	.RightTop::-webkit-scrollbar,
	.LeftTop::-webkit-scrollbar {
    	display: none;
	}



	.Popup {
		border: 1px solid transparent; 
		padding: 0.3em;
		background-color: white;
		}

	label, input { display:block; }
    	input.text { margin-bottom:12px; width:95%; padding: .4em; }
	fieldset { padding:0; border:0; margin-top:25px; }
	h1 { font-size: 1.2em; margin: .6em 0; }
	.ui-state-error { padding: .3em; }
	.validateTips { border: 1px solid transparent; padding: 0.3em; }



  #progressbar {
    margin-top: 20px;
  }

/*
  .ui-dialog-titlebar-close {
    display: none;
  }
*/
	#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }


  #tabs-date { margin-top: 1em; }
  #tabs-date li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
  #current-xpaths-table .ui-selecting { background: #FECA40; }
  #current-xpaths-table .ui-selected { background: #F39814; color: white; }
  #current-xpaths-table { border-collapse: collapse; }


